language: node_js
node_js:
 - node
 - lts/*
jobs:
 include:
  - stage: Publish
    script:
     - echo "skipping tests"
     - yarn global add expo-cli
     - expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
     - expo publish --non-interactive
